* {
  margin: 0;
  padding: 0;
}

body {
  /* viewport */
  width: 100vw;
  height: 100vh;
  background-color: #00257b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #dfcfcf;
  background-color: #323d42;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  margin-top: 0.5rem;
  color: #fff;
}

.container > hr {
  width: 90%;
  margin-bottom: 0.5rem;  
}

fieldset {
  width: 90%;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset > label {
  color: #fff;
  margin-right: 1rem;
}

fieldset > input {
  margin-top: 0.4rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #3f4140;
  padding-left: 0.5rem;
  color: #ff4500;
}

fieldset > input::placeholder {
  color: #f57242;
}

button {
  margin-top: 1rem;
  width: 12rem;
  height: 3rem;
  border-radius: 15px;
  border: groove 4px #0a27a7;
  cursor: pointer;
  background-color: #0f0202;
  color: #fff;
  font-size: 1.2rem;
}

#p-result {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}










